.container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  color: black;
  font-size: 18;
  border: 2px solid darkgrey;
  border-radius: 3px;
}

.blog {
  /* border-width: 1px; */
  border-style: solid;
  border-radius: 10pt;
  padding: 10pt;
  margin-top: 5pt;
}

.delete {
  margin-left: 5pt;
  background: red;
  border-color: red;
}
